<div class="page-container">
  <div class="product-container">
    <div class="invisible-flex-container">
    <!-- 4 sub-boxes -->
      <div class="product-card">
        <% if @insect.photo.attached?  %>
            <%= cl_image_tag @insect.photo.key, class:"product-image" %>
        <% else %>
            <a href="insects/"><img class="item-image" src="<%= @insect.img_url %>"></a>
        <% end %>
      </div>

      <!-- The product name and specifications -->
      <div class="product-card product-specs">
        <h1 class="text-bold"><%= @insect.name %></h1>
        <p><%= @insect.description %></p>
        <br><br>
        <h3 class="text-right text-bold"><%= @insect.price.round %> € / day &nbsp &nbsp</h3>
        <%if user_signed_in? %>
          <% book_button_link = "#booking-card" %>
        <% else %>
          <% book_button_link = new_user_session_path %>
        <% end %>
        <a href=<%= book_button_link%>><button class="button submit-button book-button">BOOK</button></a>


        <!-- Edit button only visible for the owner -->
        <% if current_user && current_user.id == @insect.user_id %>
        <%= link_to "Edit", edit_insect_path %>
        <% end %>
      </div>


      <!-- Card about the owner -->
      <div class="product-card owner-box">
      <h2 class="text-bold">Owner</h2>
        <% if @insect.user.photo.attached? %>
          <%= cl_image_tag @insect.user.photo.key, gravity: :face, class: "owner-picture" %>
        <% else %>
          <%= image_tag asset_path("blank-prof.jpg"), class: "owner-picture" %>
        <% end %>
        <h5 class="text-bold owner-name"><%= @insect.user.first_name %> <%= @insect.user.last_name.first %>.</h5>
        <br><br>
        <em style="font-style: italic">Bugger since: <%= @insect.user.created_at.strftime("%d/%m/%Y") %></em>
        <p>Bio : <%= @insect.user.bio %></p>
      </div>

      <!-- Card about the planning / upcoming bookings -->
      <div class="product-card owner-box">
        <h2 class="text-bold">Current bookings</h2>
          <% if @insect.bookings.empty? %>
            <p><%= @insect.name %> has no current booking. You may request a rental whenever you want!</p>
          <% elsif @insect.bookings.length == 1 %>
            <p><%= @insect.name %> has 1 current booking: </p>
          <% else %>
            <p><%= @insect.name %> has <%= @insect.bookings.length %> current bookings: </p>

          <% end %>
          <% @insect.bookings.each do |booking| %>
              <span class="text-red">Booked from: <%= booking.start_date.strftime("%d %B %Y") %> to <%= booking.end_date.strftime("%d %B %Y") %></span><br/>
          <% end %>
      </div>
    </div>

  <!-- Section about the booking action -->
  <% if user_signed_in? %>
    <div id="booking-card" class="wider-card">
      <h2 class="text-centered text-bold">Book <%= @insect.name %></h2>

      <%= simple_form_for [@insect, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "Submit", class: "submit-button button" %>
      <% end %>

        <div>
          <%= link_to "Back to all insects", insects_path %>
        </div>

      <% if current_user %>
        <% if current_user.id == @insect.user_id %>
            <%= link_to "Delete",
              insect_path(@insect),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
        <% end %>
      <% else %>
        <p></p>
      <% end %>
    </div>
  <% end %>
  </div>

</div>
