<div>

<h1><%= @insect.name %></h1>
<p><%= @insect.description %></p>
<% if @insect.photo.attached?  %>
    <%= cl_image_tag @insect.photo.key, class:"insect-img" %>
    <% else %>
    <a href="insects/"><img class="item-image" src="<%= @insect.img_url %>"></a>

<% end %>

<div>
  <% if current_user && current_user.id == @insect.user_id %>
  <%= link_to "Edit", edit_insect_path %>
  <% else %>
  <p></p>
  <% end %>
</div>

<p>Bookings:</p>

<% Booking.all.each do |booking| %>
  <% if @insect.id == booking.insect_id %>
    <p>From:</p>
    <%= booking.start_date %>
    <p>Until:</p>
    <%= booking.end_date %>
  <% end %>
<% end %>

<h1>Book this Bug!</h1>

<%= simple_form_for [@insect, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Submit" %>
<% end %>


  <div>
    <%= link_to "Back to all insects", insects_path %>
  </div>

<% if current_user %>
  <% if current_user.id == @insect.user_id %>
      <%= link_to "Delete",
        insect_path(@insect),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
  <% end %>
<% else %>
  <p></p>
<% end %>

</div>
