<h1>Hi, <%= "#{current_user.first_name} #{current_user.last_name}"%>!</h1>

<div class="container">
    <%= cl_image_tag current_user.photo.key, class: "profile-image"%>

    <p>First name</p>
    <p><%= current_user.first_name %></p>
    <p>Last name</p>
    <p><%= current_user.last_name %></p>

    <p>E-mail</p>
    <p><%= current_user.email %></p>

    <button><%= link_to "Edit my profile", edit_user_path(current_user) %></button>
    <button><%= link_to "List a new insect", new_insect_path %></button>
</div>