<h1>Hi, <%= "#{current_user.first_name} #{current_user.last_name}"%>!</h1>

<div class="container">
  <% if @user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, class: "profile-image"%>
  <% else %>
    <%= image_tag asset_path("blank-prof.jpg"), class: "profile-image"%>
  <% end %>

    <p>First name</p>
    <p><%= current_user.first_name %></p>
    <p>Last name</p>
    <p><%= current_user.last_name %></p>

    <p>E-mail</p>
    <p><%= current_user.email %></p>

    <button><%= link_to "Edit my profile", edit_user_path(current_user) %></button>
    <button><%= link_to "List a new insect", new_insect_path %></button>
</div>

<h3>Your bookings.</h3>

<% Booking.all.each do |booking| %>
  <% if current_user == booking.user %>
    <%= booking.insect.name %>
    <%= booking.start_date %>
    <%= booking.end_date %>
  <% end %>
<% end %>

