<div class="page-container">
  <div class="product-container">
    <div class="invisible-flex-container user-container">
      <div class="user-image-container">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, gravity: :face, class:"user-image"%>
          <% else %>
            <%= image_tag asset_path("blank-prof.jpg"), class:"user-image"%>
          <% end %>
      </div>
      <div class="user-profile-container">
        <h3><strong>My profile</strong> <span>
        <% if current_user == @user %>
          <%= link_to "Edit", edit_user_path(@user) %><span>
        <% end %>
         </h3>
          <br><p>First name: <strong><%= @user.first_name %></strong></p>
          <p>Last name: <strong><%= @user.last_name %></strong></p>
          <p>E-mail: <strong><%= @user.email %></strong></p>
          <p>Bio: <strong><%= @user.bio %></strong></p>
          <% if current_user == @user %>
            <a href="<%= new_insect_path%>"><button class="button user-button">+ Offer a new insect</button></a>
          <% end %>
      </div>
    </div>
  </div>

<h3 id="your-insects-header" class="results-header">See my insects</h3>

<% if current_user == @user %>

<!-- List of the user's insects -->
<div id="your-insects-container" class="results-container hidden">
    <% Insect.where(user: @user).each do |insect| %>
     <div class="bug-card" data-search-target="card">
        <div class="item-text">
          <h3><%= link_to insect.name, insect_path(insect) %></h3>
        </div>
        <%= insect.description %>
        <% if insect.photo.attached?  %>
          <%= cl_image_tag insect.photo.key, class:"item-image" %>
        <% else %>
          <a href="insects/"><img class="item-image" src="<%= insect.img_url %>"></a>
        <% end %>
    </div>
    <% end %>
  </div>

 <!-- List of the user's bookings -->
  <h3 id="your-bookings-header" class="results-header">See my bookings</h3>
  <div id="your-bookings-container" class="results-container hidden">
    <% @user.bookings.each do |booking| %>
      <div class="booking-card">
      <p><%= cl_image_tag booking.user.photo.key, gravity: :face, class: "client-picture"%> <strong><%= booking.user.first_name %> <%=booking.user.last_name.first%>.</strong></p>
        <p><%= cl_image_tag booking.insect.photo.key, gravity: :auto, class: "insect-picture"%> <strong><%= booking.insect.name %></strong></p>
          <p>Booked from <%= booking.start_date.strftime("%d/%m/%Y") %> to <%= booking.end_date.strftime("%d/%m/%Y") %></p>
          <p><strong><%= booking.insect.price.round %> €</strong></p>
          <p><%= link_to "Edit", edit_booking_path(booking) %><br><%= link_to "Delete",
              [@user, booking],
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %></p>
        </div>
    <% end %>
  </div>
<% end %>

</div>


<script>
  const insectDropdown = document.getElementById("your-insects-header");
  const bookingDropdown = document.getElementById("your-bookings-header");

  const yourInsects = document.getElementById("your-insects-container");
  const yourBookings = document.getElementById("your-bookings-container");


  insectDropdown.addEventListener("click", (event) => {
    event.preventDefault()
    yourInsects.classList.toggle("hidden");
    yourInsects.classList.toggle("visible");
  })

  bookingDropdown.addEventListener("click", (event) => {
    event.preventDefault()
    yourBookings.classList.toggle("hidden");
    yourBookings.classList.toggle("visible");
  })


</script>
